
@import url('reset.css');

body{
    background-color: #000000;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight:  bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}

section{
    margin: 100px auto;
}


.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;    
    border-bottom: 1px solid #33A8DB80;
    background-position: center;
}

.banner .banner-content {
    width: 600px;
    color: white;
    margin: auto;
    text-align: center;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    width: 260px;
    height: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
   margin: auto;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.banner-content h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(#33A8DB,#1472B7);
    background-clip: text; 
    -webkit-text-fill-color: transparent; 

}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}


.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-radius: 30px;
    border-image:  linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;   
}




#course-content {
    width: 800px;
    text-align: center;
}



#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    color: #FFFFFF;
    width: 530px;
    background-color: #252525;
    border: 1px solid #33A8DB; 
    border-radius: 100px;
    padding: 16px;
    margin: 0 auto 24px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content  .modules-list .module span {
    color: #33A8DB;

}


#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(../images/woman-code-1.png);
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    background-attachment: fixed;
    padding: 200px;
    

}
 
#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;    
    text-transform: lowercase;
    text-align: left;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}   

#professional-challenges {
    text-align: center;
    width: 800px;
}


#professional-challenges img{
    margin: 32px 0px;

}


footer {
    padding: 60px 0px;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
 }

 footer .dio-logo {
    width: 300px;
 }

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}