
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.banner {
    width: 1440px;
    height: 605px;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #33A8DB;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-position: center;
    
}

.banner-content {
    width: 530px;
    height: 393px;
    padding: 56px 465px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content .logo {
    width: 268px;
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.banner-content .logo img {
    width: 248px;
    height: 214px;
    padding: 27px 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
    width: 434px;
    height: 47px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    background: linear-gradient(#33A8DB,#1472B7);
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;

}

.banner-content p {
    width: 530px;
    height: 46px;
    font-family: 'Raleway', sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.banner-content button {
    width: 326px;
    height: 57px;
    background-color: transparent;
    object-position: 473px 557px;
    border: 2px solid;
    border:  linear-gradient(#3BA1CD, #1572B7);
    padding: 19px 91px;
    gap: 31px;
    
}

.banner-content button {
    
    font-family: 'Raleway', sans-serif;
    text-transform:  uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4px;
    text-align: center; 
    color: #31A8DD;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

main {
    margin: 0px;
    padding: 0px;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#course-content {
    width: 900px;
    height: 325px;
    padding: 150px 324px ;
    gap: 24px;
    display: flex;  
    flex-direction: column;
    align-items: center;            
    justify-content: center;
}

#course-content h2{
    width: 477px;
    height: 38px;
    Font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4px;
    color: #33A8DB;
    text-align: center;
    text-transform: uppercase;
}


#course-content p {
    width: 792px;
    height: 38px;
    Font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    white-space: normal;

}

.modules-list {
    display: flex;  
    flex-direction: column;
    align-items: center;            
    justify-content: center;
    gap: 24px;
}

.modules-list .module {
    width: 535px;
    height: 51px;
    background-color: #252525;
    border: 1px solid #33A8DB; 
    border-radius: 57px;
    padding: 16px 127px;
    display: flex;  
    align-items: center;
    justify-content: center;    
    gap: 10px;
}

.modules-list .module {
    width: 328px;
    height: 19px;
    Font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    white-space: nowrap;

}

.modules-list .module span {
    color:#33A8DB

}

#transform-world {
    width: 1440px;
    height: 250px;
    padding: 100px 0px;
    border: 1px solid #33A8DB;
    display: flex;  
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url(../images/woman-code-1.png);
    background-attachment: fixed;
    

}

#transform-world p {
    width: 244px;
    height: 141px;
    padding: 111px 198px;
}   

#transform-world p {
    font-family: "Raleway", sans-serif;    
    font-weight: 900;
    font-size: 35px;    
    text-transform: lowercase;
    line-height: 100%;  
    color: #FFFFFF;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    filter: drop-shadow(3px 2px 0px 0px #33A8DB);

}   

#professional-challenges {
    width: 1440;
    height: 605;
    opacity: 1;
    border-bottom-width: 1px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#professional-challenges h2{
    width: 800px;
    height: 76px;
    padding: 50px 347px;

}

#professional-challenges h2{
    font-family: "Raleway", sans-serif;    
    font-weight: 700;
    font-style: regular;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4px;
    text-align: center;
    color: #33A8DB;
    text-transform: uppercase;

}

#professional-challenges img{
    width: 659px;
    height: 429px;
    padding: 10px 390px;

}

#professional-challenges p{
    width: 792;
    height: 76;
    padding: 100px 324px;
}


#professional-challenges p{
    width: 792;
    height: 76;
    padding: 100px 324px;
}

#professional-challenges p{
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    white-space: pre-line;
}

footer {
    width: 1440px;
    height: 170px;
    background-color: #000000;
    border-top: 1px solid #33A8DB;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 310px;
    height: 44px;
    padding: 59px 565px 0px 565px;
}

footer p {
    width: 259px;
    height: 19px;
    padding:  0px 591px ;

}

footer p {
    font-family: " Raleway", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;


}

footer p a {
    font-family: " Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #33A8DB;
}